<h3>{{ title }}</h3>

<p-table [value]="movies"  [paginator]="true" [rows]="3" [first]="first">
    <ng-template pTemplate="header">
        <tr>
            <th>Cartel</th>
            <th>Título</th>
            <th>Estreno</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
        <tr>
            <td *ngIf="movie.poster_path">
              <img width='40%' src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}">
            </td>
            <td *ngIf="!movie.poster_path">
                <img width='50%' src="http://www.51allout.co.uk/wp-content/uploads/2012/02/Image-not-found.gif">
              </td>
            <td>{{movie.title}}</td>
            <td>{{movie.release_date | date:'dd-MM-yyyy' }}</td>
          </tr>
    </ng-template>
</p-table>
<hr>