<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Películas app</h1>
    <p class="lead">Training project. Retrieve movies from The Movie Database API</p>
  </div>
</div>

<app-presentation [movies]='onTheaters' title='Películas estrenadas durante 2018'></app-presentation>
<app-presentation [movies]='popular' title='Más vistas'></app-presentation>