  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>
          Buscar:
        </label>
        <input type="text"
                name="search"
                placeholder="Buscar película"
                [(ngModel)]="query"
                class="form-control"
                (keyup.enter)="searchFilm()">
       </div>
    </div>
  </div>

  <div class="alert alert-primary" role="alert">
    Presiona <b>enter</b> para buscar
  </div>

<div *ngIf="searched">
  <app-presentation title="Resultados de la búsqueda" [movies]="moviesFound"></app-presentation>
</div>

<div *ngIf="! searched">
  <p>Búsqueda sin resultados</p>
</div>
